@helper Botao(string name)
{
    <input type="submit" value=@name class="btn btn-danger"/>
}

@helper Mensagem(object msg)
{ 
    if (msg != null)
    {
        <div class="alert alert-danger">
            @msg
        </div>
    }
}